body{
 background-image: url('/static/images/bekgron.png'); 
 background-size: 100% ;
 background-attachment: scroll;
}
.img-fluid {
 max-width: 100%;
 height: auto;
}

html{scroll-behavior : smooth;}
.button1{
 position: absolute;
 top: 10px;
 width: 125px;
 height: 30px;
 background: #fffff9;
 border-radius: 13px;
 font-family: poppins;
 font-weight: bold;
 align-items: center;
 text-align: center;
 border: #fffff9;
 font-size: 14px;
}
.button1:hover {background-color: #C9D1C8}
.textJudul{
 width: 323px;
 height: 83px;
 font-family: Poppins;
 font-style: normal;
 font-weight: bold;
 font-size: 30px;
}
.text-about{
 font-family: poppins;
 font-size: 3.3vh;
 font-style: normal;
 text-align: justify;
 padding-top: 3%;
 margin-right: 2%;
 margin-left: 2%;
}
.navbar{
 margin-bottom: 0;
 background-color:#04202C!important;
 backdrop-filter: blur(7px) !important;
 border: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 z-index: 1030;
}
.Sebelahan{
 padding-top: 10vh;
 padding-bottom: 5vh;
}
.Sebelah{
 padding-top: 10vh;
 padding-bottom: 2vh;
}
.data{
 padding-top: 2vh;
 padding-bottom: 2vh;
}
p{
 font-family: Poppins;
}
h2,h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hala{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 900;
 color: #2A677C;
}
.h{
 font-family: 'Akura Popo', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 600;
}
.hi{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 750;
}
.quote{
 font-family: Poppins;
 font-style: normal;
 font-weight: bold;
 font-size: 8vw;
 color: #304040;
}
.page-footer{
 background-color: #2A677C;
}
.bgimg {
 background-image: url('/static/images/gunung.jpeg');
 height: 100%;
 background-position: center;
 background-size: cover;
 position: relative;
 color: white;
 font-size: 25px;
 width: 100%;
}
.topleft {
 position: absolute;
 top: 0;
 left: 16px;
}

.bottomright {
 position: absolute;
 bottom: 0;
 right: 16px;
}

.middle {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}
