<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 <title>About Me</title>
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-md sticky-top navbar-dark">
  <a class="navbar-brand" href="{% url 'MyApp:index' %}">
   <img src="{% static 'images/logo1.png' %}" alt="logo web"width="25" height="25" ></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  <div class=" sticky collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'MyApp:index' %}" style="margin: 0px 10px">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#Contact" style="margin: 0px 10px">Contact<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="{% url 'MyApp:schedule_create' %}" style="margin: 0px 10px">My Schedule<span class="sr-only">(current)</span></a>
    </li>
   </ul>
  </div>
</nav>
 <div class="container-fluid"  id="About">
  <section class="row Sebelahan text-center">
   <div class="col-sm">
    <img src="{% static 'images/stephen2.png' %}" class="img-fluid" alt="IMG_9637" width="100%" height="auto">
   </div>
    <div class="col-sm text-about">
     <h1> Hello, </h1>I’m Stephen. Now I'm an university student who likes
     something that make me happy and something that make someone proud
     of me.I always got some new thing when i study in Universitas Indonesia
     and that makes me want to learn more about it but now, i have to many
     deadline so it's make me puyeng. My Hobby is studying, listen to music,
     and do some work. 
    <br>
    <br>
    <h2 class="hala" style="text-align: right"> About Me</h3>
    </div>
  </section>

  <section class="col Sebelahan" id="Education&Skill"> 
    <div class="col">
     <h1 class="hala"> Education</h1>
     <div class="row">
      <div class="col-sm text-center data">
        <h2 class="text-center h"> University</h2>
         <h4>Universitas Indonesia</h4>
         <br>
         <h2 class="text-center h"> Faculty</h2>
         <h4>Faculty of Computer Science</h4>
      </div>
      <div class="col-sm data text-center">
        <h2 class="text-center h"> High School</h2>
        <h4>SMAK 3 Penabur Jakarta</h4>
      </div>
     </div>
    </div>
    <div class="col">
      <h1 class="hala" style="text-align: right"> My Skill</h1>
      <div class="row data text-center">
       <div class="col-sm  data">
         <h2 class="text-center h">Programming</h2>
         <h4>Java</h4>
         <h4>Python</h4>
         <h4>HTML</h4>
        </div>
        <div class="col-sm text-center data">
         <h2 class="text-center h">Design</h2>
         <h4>Adobe Photoshop</h4>
         <h4>Adobe Illustrato</h4>
         </div>
      </div>
    </div>
</section>

<section class="col Sebelah text-center"id="Contact">
 <blockquote class="text-right quote">
   “Great things
   never came from
   comfort zone”
 </blockquote>
 <div class="row text-center">
 <div class="col-sm text-left" style="margin-bottom: 20px">
   <a href="https://www.instagram.com/stephenhandiar"><img src="{% static 'images/ig.png' %}" class="img-fluid" alt="Self" width="40vh" height= "100%" style="margin-left: 20px;"></a>
   <a href="https://www.linkedin.com/in/stephen-handiar-411ba5184"><img src="{% static 'images/linkedin.png' %}" class="img-fluid" alt="Self" width="40vh" height= "100%" style="margin-left: 20px;"></a>
   <a href="https://line.me/ti/p/~stephen24"><img src="{% static 'images/line.png' %}" class="img-fluid" alt="Self" width="40vh" height= "100%" style="margin-left: 20px;"></a>
   <a href="https://wa.me/083870606710"><img src="{% static 'images/WA.png' %}" class="img-fluid" alt="Self" width="40vh" height= "100%" style="margin-left: 20px;"></a>
 </div>
 <div class="col-sm text-right">
  <img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" width="60vh" height= "100%">
 </div>
 </div>
</section>
 </div>

 <footer class="container-fluid page-footer">  
   <div class=" text-center pt-2">
    <b>-Jangan banyak bergadang, Jangan deadliner, makan yang banyak, istirahat yang banyak-</b>
   </div>
   <div class="footer-copyright text-center pb-2">© 2019 Copyright:
     <a href="{% url 'MyApp:comingsoon' %}"> Stephen Handiar</a>
   </div>
 </footer>
</body>
</html>