<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 <title>Coming Soon</title>
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
</head>
<body style="height: 100vh; width :100%;"> 
<div class="bgimg">
  <div class="topleft">
    <a href="{% url 'MyApp:index' %}"><img src="{% static 'images/logo2.png' %}" class="img-fluid" alt="Self" style="width: 10%; height : 10%;"></a>
  </div>
  <div class="middle text-center">
    <h1>COMING SOON</h1>
    <hr>
    <p>- Saat Tidak Sibuk - </p>
  </div>
  <div class="bottomright text-right">
    <p>Penasaran Yaa . .</p>
  </div>
</div>
</body>
</html>