<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 <title>HomePage</title>
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
</head>
<body id="home" >
 <div class="col-sm"> 
 <div class="row">
   <img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" style="width: 5%; height : 5%;">
   <a href="{% url 'MyApp:about' %}"><button type="button" class="button1" style="right: 35vh;">About Me</button></a>
   <a href="{% url 'MyApp:schedule_list' %}"><button type="button" class="button1" style="right: 10vh;">My Schedule</button></a>
  </div>
  <div class="text-center"style="max-width: 100%;height: auto; position: relative;margin-top:2.5%">
    <img src="{% static 'images/fotowebfix.png' %}" class="img-fluid" alt="Self" style="width: 49%; height : 100%;">
  </div>
 </div>
</body>
</html>