{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<title>Add Schedule</title>
	{% load static %}
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
</head>
<body>
	{% block content %}
	<div class="container col">
		<div class="row " style="margin: 2vh;">
			<div style="margin-right: 20vh">
					<a href="{% url 'MyApp:index' %}"><img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" style="width: auto; height : 9vh;"></a>
				</div>
			<div style="margin-right: 20vh"><h2 style="right:0%;">New Schedule</h2></div>
				<div style="right: 50px;"><a href="{% url 'MyApp:schedule_list' %}"><button type="button" class="button1">See Schedule</button></a></div>
				</div>
			<div class="container">
				<form method="POST" action="{% url 'MyApp:schedule_create' %}">{% csrf_token %}
					 {{ form.as_p }}
						<button type="submit" class="save btn btn-primary">Save</button>		
			 </form>
			</div>
	</div>
	{% endblock %}
</body>
</html>
