{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Schedule</title>
    {% load static %}
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
    {% block content %}
    {% if schedules %}
    <div class="container row" style="margin: 2vh;">
        <a href="{% url 'MyApp:index' %}"><div style="margin-right: 10vh"><img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" style="width: auto; height : 9vh;"></a></div>
        <h2>My Schedule</h2>
      </div>
    {% for schedule in schedules %}
        <div class="container white text-center">
            <div style="margin-top:2%;">
                <h2>{{ schedule.nama_kegiatan }}</h2>
                <h4>{{ schedule.tanggal }} || {{ schedule.jam}}</h4>
                <a href="{{ schedule.pk }}">View Details</a>
            </div>
        </div>
    {% endfor %}
    <div class="container row">
      <div class="col">
      <a class="delete-all" href="{% url 'MyApp:schedule_delete' %}"><button type="button" class="button1">Delete All</button></a>
    </div>
    <div class="col">
      <a href="{% url 'MyApp:schedule_create' %}"><button type="button" class="button1">Add Schedule</button></a>
    </div>
    </div>
    {% else %}
    <div class="container row" style="margin: 2vh;">
        <a href="{% url 'MyApp:index' %}"><div style="margin-right: 10vh"><img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" style="width: auto; height : 9vh;"></a></div>
        <h2>My Schedule</h2>
      </div>
    <div class="text-center" style="padding: 2vh">
      <div >
      <h3 class="hi">-Gaada Acara, Seneng deh- </h3>
    </div>
    <div class="col">
      <a href="{% url 'MyApp:schedule_create' %}"><button type="button" class="button1">Add Schedule</button></a>
    </div>
    </div>
  </div>
    {% endif %}
{% endblock %}
  </body>
</html>
