{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule Details</title>
    {% load static %}
 <link rel="icon" href ="{% static 'images/logo1.png' %}" type="image/x-icon">
  </head>
  <body >
    {% block content %}
    <div class="container">
        <div class="container row" style="margin: 2vh;">
            <a href="{% url 'MyApp:index' %}"><div style="margin-right: 10vh"><img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="Self" style="width: auto; height : 9vh;"></a></div>
            <h2>My Detail Schedule</h2>
          </div>
        {% if schedule.tanggal %}
            <div class="white">
                <h2 class="text-center" style="margin-top : 10%;">Kegiatan : {{ schedule.nama_kegiatan }}</h2>
                <h4 class="text-center">{{ schedule.tanggal}} || {{ schedule.jam }} || {{ schedule.tempat }} </h4>
                <a class="delete-all button1" href="{% url 'MyApp:delete_selected' id=schedule.id %}"><button type="button" class="button1">Delete Schedule</button></a>
            </div>  
        {% endif %}
    </div>
{% endblock %}
  </body>
</html>
